<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
	<session-factory>
	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/myhyber</property>
	<property name="connection.username">root</property>
	<property name="connection.password">Pra@869886</property>
	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">create</property>
	<mapping class="com.maven.hibernate.hibenateMavenProject.Student"/>
	
	
	
	
	
	
	</session-factory>
	</hibernate-configuration>
	